<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>AV_Controe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="./lib/js/vue.js"></script>
	<script src="./lib/js/axios.js"></script>
	<script src="./lib/js/element-ui-index.js"></script>
	<script src="./lib/js/jquery-3.1.1.js"></script>
	<script src="./lib/js/jquery-migrate-1.2.1.js"></script>
  <link rel="stylesheet" type="text/css" href="./lib/css/element-ui-index.css">
  <link rel="stylesheet" type="text/css" href="css/optionBtn.css">
</head>
<body>
	<div id="app" style="height: 100%">
    <div id="btnContainer">
      <el-input class="serverIpInput" placeholder="IP:端口号，例：192.1.0.1:3000" prefix-icon="el-icon-edit-outline" v-model="serverIP" style="width:240px"></el-input>
      <template v-for="groupOrder in orderList">
        <div class="line">
          <div class="groupName">{{groupOrder.name}}</div>
          <template v-for="subOrder in groupOrder.subOrders">
            <el-button type="primary" @click="handlePublishOrder(subOrder)">{{subOrder.name}}</el-button>
          </template>
        </div>
      </template>
    </div>
  </div>
</body>
<script src="js/optionBtn.js"></script>
</html>